﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @RenderSection("styles", required: false)
    @Styles.Render(
    "~/Content/css/bootstrap.min.css",
    "~/Content/css/animate.min.css",
    "~/Content/css/style.css",
    "~/Content/css/slick.css",
    "~/Content/css/slick-theme.css",
    "~/Content/css/no-js.css",
    "~/Content/css/jquery.fancybox.css",
    "~/Content/css/font-awesome.min.css"
 )


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/Images/logo.png")' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Budget", "Index", "Home")</li>
                    <li>@Html.ActionLink("Expenses", "About", "Home")</li>
                    <li>@Html.ActionLink("Statistics", "Contact", "Home")</li>
                    @if (System.Web.HttpContext.Current.User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Admin Area", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

    @Scripts.Render(
    "~/Content/js/jquery-1.11.3.min.js",
    "~/Content/js/bootstrap.min.js",
    "~/Content/js/jquery-migrate-1.2.1.min.js",
    "~/Content/js/jquery.easing.min.js",
    "~/Content/js/jquery.fancybox.pack.js",
    "~/Content/js/jquery.fitvids.js",
    "~/Content/js/jquery.mousewheel-3.0.6.pack.js",
    "~/Content/js/jquery.placeholder.min.js",
    "~/Content/js/response.min.js",
    "~/Content/js/script.js",
    "~/Content/js/slick.min.js",
    "~/Content/js/smoothscroll.js",
    "~/Content/js/waypoints.min.js")


</body>
</html>
