﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css/style.css",
    "~/Content/css/slick.css",
    "~/Content/css/slick-theme.css",
    "~/Content/css/no-js.css",
    "~/Content/css/jquery.fancybox.css",
    "~/Content/css/font-awesome.min.css"
 )


<div id="preloader">
    <div class="spinner"></div> <!-- page loader spinner -->
</div>

<!-- #features -->
<div id="features" class="row-section" style="margin-top:10%; margin-bottom:20%;">

    <!-- .container -->
    <div class="container">
        <p><h3 style="text-align:center">Admin Area</h3></p>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-3 ">
                <!-- 1 -->
                <a href="@Url.Action("Index", "Users")">
                    <div class="affa_feature_icon_top">
                        <i class="fa fa-user"></i>
                        <h4>Users</h4>
                        <p></p>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 ">
                <!-- 2 -->

                <a href="views/expense.html">
                    <div class="affa_feature_icon_top">
                        <i class="fa fa-cart-plus"></i>
                        <h4>Expenses</h4>
                        <p></p>
                    </div>
                </a>
            </div>


            <div class="col-sm-3 ">
                <!-- 3 -->
                <a href="#">
                    <div class="affa_feature_icon_top">
                        <i class="fa fa-bar-chart"></i>
                        <h4>Statistics</h4>
                        <p></p>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 ">
                <!-- 3 -->
                <a href="#">
                    <div class="affa_feature_icon_top">
                        <i class="fa fa-list-alt"></i>
                        <h4>Survey</h4>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #features end -->
<!-- #bottom -->



