﻿@model CrossMedia.Models.ViewModel.BudgetViewModel


@{
    ViewBag.Title = "Index";
    var index = 0;
}

<h2>My Current Budget</h2>


<div class="container">
    <div class="row">
        
            @foreach (var item in Model.Budgets)
            {
                var valueMax = item.Value;
                var  progressWidthDouble = (Model.TotalOrderCosts.ElementAt(index).Totaal / valueMax) * 100.0;
                var progressWidth = (int) progressWidthDouble;

                <!-- 1 -->
                <div class="col-sm-3 ">
                    <a href="@Url.Action("Edit", "Budget")">
                        <div class="affa_feature_icon_top">
                            @{
                                switch (item.CategoryID)
                                {
                                    case 1:
                                        <i class="fa fa-cutlery"></i>
                                        break;

                                    case 2:
                                        <i class="fa fa-shopping-cart"></i>
                                        break;

                                    case 3:
                                        <i class="fa fa-laptop"></i>
                                        break;
                                }
                            }
                            <p></p>
                            @if (Model.TotalOrderCosts.ElementAt(index).Totaal > 0)
                            {
                                <div class="progress" style="border: 1px solid #F04844;">
                                    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="@valueMax" style="width: @progressWidth%;">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    <strong>Info!</strong> Click here to set a budget.
                                </div>
                            }
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </div>
                    </a>
                </div>
                index++;
            }
    </div>
</div>