﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css/style.css",
    "~/Content/css/slick.css",
    "~/Content/css/slick-theme.css",
    "~/Content/css/no-js.css",
    "~/Content/css/jquery.fancybox.css",
    "~/Content/css/font-awesome.min.css"
 )


    <div id="preloader">
        <div class="spinner"></div> <!-- page loader spinner -->
    </div>

    <!-- #features -->
    <div id="features" class="row-section" style="margin-top:10%; margin-bottom:20%;">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-3 ">
                    <!-- 1 -->
                    <a href="@Url.Action("Index", "Budget")">
                        <div class="affa_feature_icon_top">
                            <i class="fa fa-euro"></i>
                            <h4>Budget</h4>
                            <p></p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 ">
                    <!-- 2 -->

                    <a href="views/expense.html">
                        <div class="affa_feature_icon_top">
                            <i class="fa fa-cart-plus"></i>
                            <h4>Expenses</h4>
                            <p></p>
                        </div>
                    </a>
                </div>


                <div class="col-sm-3 " >
                    <!-- 3 -->
                    <a href="#">
                        <div class="affa_feature_icon_top">
                            <i class="fa fa-bar-chart"></i>
                            <h4>Statistics</h4>
                            <p></p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 ">
                    <!-- 3 -->
                    <a href="#">
                        <div class="affa_feature_icon_top">
                            <i class="fa fa-list-alt"></i>
                            <h4>Survey</h4>
                            <p></p>
                        </div>
                    </a>
                </div>
                @if (System.Web.HttpContext.Current.User.IsInRole("admin"))
                {
                    <div class="col-sm-3 ">
                        <!-- 3 -->
                        <a href="@Url.Action("Index", "AdminArea")">
                            <div class="affa_feature_icon_top">
                                <i class="fa fa-user"></i>
                                <h4>Admin Area</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #features end -->
    <!-- #bottom -->
    <div id="bottom">

        <!-- .container -->
        <div class="container">

            <div class="post-heading-center">
                <h2>Download Budgetify now</h2>
                <p></p>
            </div>

            <div class="bottom-button">
                <a href="#" class="btn-custom btn-icon">
                    <i class="fa fa-android"></i> <em>Not available on</em>Google
                    Play
                </a>
                <a href="#" class="btn-custom btn-icon"><i class="fa fa-apple"></i> <em>Not available on</em>App Store</a>
            </div>

            <div class="sep-border"></div> <!-- separator -->

            <div class="subscribe-form">
                <div class="post-heading-center2">
                    <p></p>
                    <h2>Subscribe to our newsletter!</h2>
                </div>

                <form method="post" action="#" class="affa-form-subscribe">
                    <input type="text" name="email" placeholder="Enter your e-mail address...." />
                    <input type="submit" name="submit" value="">
                </form>
            </div>

            <!--<div class="social-links">-->
            <!--<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>-->
            <!--<a href="#" title="twitter"><i class="fa fa-twitter"></i></a>-->
            <!--<a href="#" title="google plus"><i class="fa fa-google-plus"></i></a>-->
            <!--<a href="#" title="instagram"><i class="fa fa-instagram"></i></a>-->
            <!--<a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>-->
            <!--<a href="#" title="dribbble"><i class="fa fa-dribbble"></i></a>-->
            <!--</div>-->

            <footer class="footer-text">
                <p>Powered by <b>Cunts</b></p>
            </footer>

        </div>
        <!-- .container end -->

    </div>


